body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-inner {
  position: relative;
}

.control-form {
  max-width: 800px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.control-form input[type='submit'] {
  display: none;
}

.control-form input[type='submit'].show-submit {
  display: inline-block;
}

.control-form input,
.control-form select {
  width: 100%;
  padding: 1.5em;
  margin-bottom: 1em;
  box-sizing: border-box;
}

input[type="text"] {
  border: 2px solid #ffffff;
  background-color: #ffffff50;
  border-radius: 4px;
  outline: none;
}

.input .radio-item {
  display: inline-block;
  padding: 2em;
  margin: 0.5em;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
}

.input .radio-item:active,
.input .radio-item:focus {
  background-color: #ffffff50;
}

.input .radio-item input[type="radio"] {
  width: auto;
  position: absolute;
  visibility: hidden;
}

.btn {
  padding: 1.5em;
}
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 4px;
  border: 2px solid #ffffff;
}

.control-form .input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
  transition: all 0.5s ease-in-out;
}

.control-form .input.active-item {
  position: relative;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: all 0.5s ease-in-out;
}